.App {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px auto 0;
  border: 1px dashed #ccc;
}

@media (max-width: 480px) {
  .App {
    width: 300px;
    height: 300px;
  }
}

h1,
h2 {
  font-size: 20px;
  color: #3023ae;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.selectArea {
  text-align: center;
  padding: 20px 5px;
}

.selectArea select {
  background-color: #fff;
  border: 1px solid #f09;
  height: 34px;
  padding: 0 15px;
}

.App .border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      -225deg,
      #fff 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 255, 255, 0) 60%,
      cyan 100%
    ),
    linear-gradient(45deg, #3023ae 0%, #f09 100%);
}

.App .topLeft {
  position: absolute;
  left: 0;
  top: -11px;
  z-index: 10;
  width: 50%;
}
.App .topRight {
  position: absolute;
  right: 0;
  top: -11px;
  z-index: 10;
  width: 50%;
  transform: rotate(180deg);
}

.App .bottomLeft {
  position: absolute;
  left: 0;
  bottom: -12px;
  z-index: 10;
  width: 50%;
}

.App .bottomRight {
  position: absolute;
  right: 0;
  bottom: -12px;
  z-index: 10;
  width: 50%;
  transform: rotate(180deg);
}

.App .leftLeft {
  position: absolute;
  left: calc(-25% - 2px);
  top: calc(25% - 11px);
  bottom: auto;
  z-index: 10;
  width: 50%;
  height: 22px;
  transform: rotate(90deg);
}
.App .leftRight {
  position: absolute;
  left: calc(-25% - 2px);
  top: calc(75% - 11px);
  bottom: auto;
  z-index: 10;
  width: 50%;
  height: 22px;
  transform: rotate(270deg);
}

.App .rightLeft {
  position: absolute;
  right: calc(-25% - 2px);
  top: calc(25% - 11px);
  bottom: auto;
  z-index: 10;
  width: 50%;
  height: 22px;
  transform: rotate(90deg);
}
.App .rightRight {
  position: absolute;
  right: calc(-25% - 2px);
  top: calc(75% - 11px);
  bottom: auto;
  z-index: 10;
  width: 50%;
  height: 22px;
  transform: rotate(270deg);
}

/* BEGIN Four Values */

.App .top {
  position: absolute;
  left: 0;
  right: 0;
  top: -11px;
  z-index: 10;
  width: 100%;
}

.App .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  z-index: 10;
  width: 100%;
}

.App .left {
  position: absolute;
  left: calc(-50% - 2px);
  top: calc(50% - 11px);
  /*bottom:calc(50% - 11px);*/
  bottom: auto;
  z-index: 10;
  width: 100%;
  height: 22px;
  transform: rotate(90deg);
}

.App .right {
  position: absolute;
  right: calc(-50% - 2px);
  top: calc(50% - 11px);
  bottom: auto;
  z-index: 10;
  width: 100%;
  height: 22px;
  transform: rotate(270deg);
}

/* END Four Values */

input[type="range"] {
  background: transparent;
}

.out {
  padding: 25px 0;
  text-align: center;
  margin-top: 20px;
}

/*CODE TAKEN FROM https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #f09;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  /*margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type="range"].topLeft::-webkit-slider-thumb,
input[type="range"].topRight::-webkit-slider-thumb,
input[type="range"].bottomLeft::-webkit-slider-thumb {
  margin-top: 2px;
}

input[type="range"].bottomRight::-webkit-slider-thumb {
  margin-top: 2px;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  border: 3px solid #f09;
  box-shadow: 0;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  border: 3px solid #f09;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
